#!/bin/sh

if [ ! "$(pidof firefox-bin)" ]
then
    /usr/bin/killall -u kiosk firefox-bin
    /usr/bin/sleep 1
    /usr/bin/flatpak run org.mozilla.firefox -kiosk -private-window {{ kiosk_url }}
fi

sleep 1.0
exec "$0" "$@"