#!/bin/sh

while true; do
    /usr/bin/flatpak run com.google.Chrome --password-store=basic --incognito --no-first-run --kiosk {{ kiosk_url }} &
    CHROME_PID=$!

    sleep {{ chrome_refresh_seconds }}

    kill "$CHROME_PID" 2>/dev/null
    wait "$CHROME_PID" 2>/dev/null

    /usr/bin/rm -rf ~/.var/app/com.google.Chrome/
done
