- name: Load distro-specific variables
  tags: always
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml"
    - "{{ ansible_distribution }}.yml"

- block:
  # set up the ansible environment
  - import_tasks: ansible_setup.yml

  # set hostname
  - ansible.builtin.import_tasks: system_setup/hostname.yml

  # configure user
  - import_tasks: users/tms_admin.yml

  # rebase os version
  - import_tasks: rebase_os.yml
    when:
      - fedora_allow_rebase | bool
      - fedora_version_required is defined
      - "ansible_distribution_version is version( fedora_version_required, '!=')"

  # perform remaining tasks:
  - import_tasks: system_setup/networkmanager.yml
  - import_tasks: system_setup/firewall.yml
    when: firewalld_zone is defined
  - import_tasks: system_setup/automatic_updates.yml
    when:  automatic_updates | bool
  - import_tasks: system_setup/openssh.yml
    when: sshd | bool
  - import_tasks: system_setup/scheduled_reboot.yml
    when: reboot_schedule is defined
  - import_tasks: system_setup/scheduled_poweroff.yml
    when: poweroff_schedule is defined
  - import_tasks: flatpak.yml
    when: firefox_install == "flatpak" or firefox_install == "flatpak-chrome"

  rescue:
  - name: Set fact if task failed
    set_fact: task_failed=true
